.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
application/views/templates_c/*
!application/logs/index.html
!application/logs/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/
app/images/post/*
app/images/user/*
app/images/tmp/*
# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

## Rz ignore
_info/*
_errorpages/
index_1.html
/application/config/database.php