<style type="text/css">
.page-header {
    margin:10px 0 0;
}
.page-header h1 {
    margin-top: 0px;
    font-size: 20pt;
}
.breadcrumb {
    margin-bottom: 5px;
}
</style>

<div ng-controller="StatisticCtrl">
  <div >
      <div class="page-header">
        <div class="container-fluid">
          <div class="pull-right"  >
              <button type="button" data-toggle="tooltip" title="" class="btn btn-default" ng-click="reload()"><i class="icon-refresh"></i></button>
              <a ng-click="openAdd('lg')" data-toggle="tooltip" title="Add Email" class="btn btn-primary" data-original-title="Add New"><i class="fa fa-plus"></i></a>
              <button type="button" data-toggle="tooltip" title="" class="btn btn-danger" data-ng-click="delete()" ng-disabled="!email.selected.length"><i class="fa fa-trash-o"></i></button> 
              <!-- onClick="confirm('Are you sure?') ? $('#myform').submit() : false;"  -->
          </div>
          <h1 class="pull-left">Email</h1>
          <ul class="breadcrumb pull-left">
            <li><a >Home</a></li>
            <li><a >Email</a></li>
          </ul>
        </div>
      </div>
      <div class="container-fluid">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> Email List</h3>
          </div>
          <div class="panel-body">
            <div class="well">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label hide" for="input-name">Tìm Email</label>
                                <input type="text" ng-keyup="$event.keyCode == 13 ? reload() : null" value="" placeholder="Search email" class="form-control" ng-model="keyword" >
                                <ul class="dropdown-menu"></ul>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div class="form-group hide">
                                <label class="control-label hide" for="input-status">Tình trạng</label>
                                <select name="filter_status" id="input-status" class="form-control" ng-model="product_status">
                                  <option value="2">Tất Cả</option>
                                    <option value="1">Enable</option>
                                     <option value="0">Disable</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div>
                                <button type="button" ng-click="reload()" class="btn btn-primary pull-right">
                                  <i class="fa fa-search"></i> Lọc
                                </button>
                            </div>
                            
                        </div>

                    </div>
                </div>
            <form  method="post" enctype="multipart/form-data" >
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td style="width: 1px;" class="text-center"> 
                        <a data-ng-click="checkAll()"><i class="fa fa-check text-success hide"></i></a>
                        <a data-ng-click="uncheckAll()"><i class="fa fa-times text-danger hide"></i></a>
                        <label class="i-checks m-b-none">
                        <input type="checkbox" onClick="$('input[name*=\'selected\']').prop('checked', this.checked);" data-ng-click="isCheckAll();">
                        <i></i></label>
                      </td>
                      <td class="text-left"><a>ID</a></td>
                      <td class="text-left"> 
                        <a class="asc"> <span class="hide"> {{email.selected}} </span>  Email</a></td>
                      <td class="text-left"><a>Password</a></td>
                      <td class="text-left"><a>Status</a></td>
                      <td class="text-right">Action</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="(key, value) in emailList">
                      <td class="text-center">
                        <label class="i-checks m-b-none" data-ng-click="myform.selected.click()">
                        <input type="checkbox" checklist-model="email.selected" name="selected[]"  checklist-value="value.id">
                        <i></i></label>
                      </td>
                      <td class="text-left">{{value.id}}</td>
                      <td class="text-left">{{value.email}}</td>
                      <td class="text-left">{{value.password_de}}</td>
                      <td class="text-left">{{value.status == '1'?'Enable':'Disable'}}</td>
                      <td class="text-right">
                        <a data-ng-click="edit(value)" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </form>
            <div class="row">
              <div class="col-sm-6 text-left"></div>
              <div class="col-sm-6 text-right">Showing 1 to 2 of 2 (1 Pages)</div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>