    <!-- slider-area-start -->
        <div class="slider-area" >
            <div id="slider">
                <img ng-src="{{app.baseConfig.app}}/themes/pay/img/slider/1.jpg" alt="slider-img" title="#caption1" />
                <img ng-src="{{app.baseConfig.app}}/themes/pay/img/slider/5.jpg" alt="slider-img" title="#caption2" />
            </div>
            <div class="nivo-html-caption" id="caption1" >
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="slider-text" >
                                <h1 class="wow bounceInDown" data-wow-delay=".5s">Apple supper cheap Sale off</h1>
                                <h2 class="wow bounceInDown" data-wow-delay=".8s">-35% every Friday </h2>
                                <p class="wow bounceInDown" data-wow-delay="1.1s">apply for iphone products, limit number <br /> 
                                Don't miss the boat.</p>
                                <!-- <a href="#" class="wow bounceInDown" data-wow-delay="1.4s">Shop now</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nivo-html-caption" id="caption2" >
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="slider-text text-center">
                                <h1 class="wow bounceInDown" data-wow-delay=".5s">Apple supper cheap Sale off</h1>
                                <h2 class="wow bounceInDown" data-wow-delay=".8s">-35% every Saturday </h2>
                                <p class="wow bounceInDown" data-wow-delay="1.1s">apply for watch products, limit number  <br /> 
                                Don't miss the boat.</p>
                                <!-- <a href="#" class="wow bounceInDown" data-wow-delay="1.4s">Shop now</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider-area-end -->
        <!-- banner-area-start -->
        <div class="banner-area pt-40 pb-30">
        </div>
        <!-- <div class="banner-area pt-80 pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-30" ng-repeat="item in categories" ng-if="$index < 3">
                        <div class="single-banner" >
                            <a href="#"><img ng-src="{{app.baseConfig.app}}/themes/pay/img/banner/8.jpg" alt="banner" /></a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div> -->
        <!-- banner-area-end -->
        <!-- featured-product-area-start -->
        <div class="featured-product-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="section-title mb-25">
                            <h2>Deal of the days</h2>
                        </div>
                        <div class="product-active-2">
                            
                            <div class="single-product-2" data-ng-repeat="item in discountList">
                                <div class="product-image-total">
                                    <div class="product-image-2">
                                        <a href="#"><img ng-src="{{item.image_path}}" alt="{{item.name}}" /></a>
                                    </div>
                                    <!-- <span>New</span> -->
                                    <a data-ng-click="modalDetail(item)" style="cursor: pointer;"><i class="fa fa-search"></i></a>
                                </div>
                                <div class="product-content-2 text-center">
                                    <!-- <span>Furniture Manufacturer</span> -->
                                    <h4><a style="cursor: pointer;" data-ng-click="modalDetail(item)" >{{item.name}}</a></h4>
                                    <div class="rating">
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                    </div>
                                    <p> {{item.description}}</p>
                                    <div class="price">
                                        <ul>
                                            <li class="new-price">${{item.price}}</li>
                                            <li class="old-price" ng-show="item.price_old">${{item.price_old}}</li>
                                        </ul>
                                    </div>
                                    <div class="add-to-links">
                                        <ul>
                                            <!-- <li><a href="#" class="heart"><i class="fa fa-heart-o"></i></a></li> -->
                                            <li><a style="cursor: pointer;" data-ng-click="addToCart(item)" 
                                                class="btn btn-primary" ng-class="{'disabled': item.type_discount == 'future' || item.type_discount == 'pass' ||  !item.type_discount }">
                                            Add to cart</a></li>
                                            <!-- <li><a href="#" class="refresh"><i class="fa fa-refresh"></i></a></li> -->
                                        </ul>
                                    </div>
                                    <p class="txt_special" ng-show="item.type_discount == 'future'" style="color: #171bc3">Offer will start in:</p>
                                    <p class="txt_special" ng-show="item.type_discount == 'in_time'" style="color: #e41010">Hurry Up! Offer ends in:</p>
                                    <p class="txt_special" ng-show="item.type_discount == 'pass'">Oop! Offer was ended, better luck next time:</p>
                                    <div class="timer">
                                        <!-- <div data-countdown="2018/07/10 12:00"></div> -->
                                        <div ng-if="item.type_discount == 'future'" data-countdown="{{item.time_discount_client_frm}}"></div>
                                        <div ng-if="item.type_discount == 'in_time' || item.type_discount == 'pass'" data-countdown="{{item.end_discount_client_frm}}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shop col-lg-8 col-md-8 col-sm-6 col-xs-12">
                        <div class="section-title mb-25">
                            <h2><span>{{page.category}}</span></h2>
                            <a ng-show="page.category_id != -1" style="cursor: pointer; color: #3c74b9; font-weight: 700;" data-ng-click="setCategory(-1)">All product</a>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="th">
                                <div class="shop-tab-border">
                                    <div data-ng-repeat="(key, item) in productList">
                                    <div class="single-product-2 br-r br-b-3">
                                        <div class="product-image-total">
                                            <div class="product-image-2">
                                                <a ><img ng-src="{{item.image_path}}" alt="{{item.name}}" /></a>
                                            </div>
                                            <span class="hide">New</span>
                                            <a data-ng-click="modalDetail(item)" style="cursor: pointer;"><i class="fa fa-search"></i></a>
                                        </div>
                                        <div class="product-content-2 text-center product-content-3">
                                            <span class="hide">Furniture Manufacturer</span>
                                            <h4><a style="cursor: pointer;" data-ng-click="modalDetail(item)">{{item.name}}</a></h4>
                                            <div class="price">
                                                <ul>
                                                    <li class="new-price ">${{item.price}}</li>
                                                    <li class="old-price" ng-show="item.price_old">${{item.price_old}}</li>
                                                </ul>
                                            </div>
                                            <div class="add-to-links">
                                                <ul>
                                                    <li class="hide"><a href="#" class="heart"><i class="fa fa-heart-o"></i></a></li>
                                                    <li><a style="cursor: pointer;" data-ng-click="addToCart(item)">Add to cart</a></li>
                                                    <li class="hide"><a href="#" class="refresh"><i class="fa fa-refresh"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="(key+1)%3 == 0" class="row"> </div>
                                    </div>
                                </div>    
                            </div>
                            <div class="tab-pane fade" id="list">
                                <div class="single-product-2 single-product-4 mb-30">
                                    <div class="product-image-total">
                                        <div class="product-image-2">
                                            <a href="#"><img ng-src="{{app.baseConfig.app}}/themes/pay/img/product/9.jpg" alt="char" /></a>
                                        </div>
                                        <span>New</span>
                                        <a href="#" data-toggle="modal" data-target="#mymodal"><i class="fa fa-search"></i></a>
                                    </div>
                                    <div class="product-content-2">
                                        <span>Furniture Manufacturer</span>
                                        <h4><a href="#">Wooden Plate Model Balsa Wood DIY House...</a></h4>
                                        <div class="rating">
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </div>
                                        <p> Faded short sleeves t-shirt with high neckline. Soft and stretchy material for a comfortable fit....</p>
                                        <div class="price">
                                            <ul>
                                                <li class="new-price">$14.86</li>
                                                <li class="old-price">$16.51</li>
                                            </ul>
                                        </div>
                                        <div class="add-to-links-2">
                                            <ul>
                                                <li><a href="#" class="heart"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Add to cart</a></li>
                                                <li><a href="#" class="refresh"><i class="fa fa-refresh"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="color-list-container">
                                            <ul>
                                                <li class="pink"></li>
                                                <li class="orange"></li>
                                                <li class="blue"></li>
                                                <li class="yelllo"></li>
                                            </ul>
                                        </div>
                                        <div class="availability">
                                            <span> In stock</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-product-2 single-product-4 mb-30">
                                    <div class="product-image-total">
                                        <div class="product-image-2">
                                            <a href="#"><img ng-src="{{app.baseConfig.app}}/themes/pay/img/product/2.jpg" alt="char" /></a>
                                        </div>
                                        <span>New</span>
                                        <a href="#" data-toggle="modal" data-target="#mymodal"><i class="fa fa-search"></i></a>
                                    </div>
                                    <div class="product-content-2">
                                        <span>Furniture Manufacturer</span>
                                        <h4><a href="#">Wooden Plate Model Balsa Wood DIY House...</a></h4>
                                        <div class="rating">
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </div>
                                        <p> Faded short sleeves t-shirt with high neckline. Soft and stretchy material for a comfortable fit....</p>
                                        <div class="price">
                                            <ul>
                                                <li class="new-price">$14.86</li>
                                                <li class="old-price">$16.51</li>
                                            </ul>
                                        </div>
                                        <div class="add-to-links-2">
                                            <ul>
                                                <li><a href="#" class="heart"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Add to cart</a></li>
                                                <li><a href="#" class="refresh"><i class="fa fa-refresh"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="color-list-container">
                                            <ul>
                                                <li class="pink"></li>
                                                <li class="orange"></li>
                                                <li class="blue"></li>
                                                <li class="yelllo"></li>
                                            </ul>
                                        </div>
                                        <div class="availability">
                                            <span> In stock</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-product-2 single-product-4 mb-30">
                                    <div class="product-image-total">
                                        <div class="product-image-2">
                                            <a href="#"><img ng-src="{{app.baseConfig.app}}/themes/pay/img/product/17.jpg" alt="char" /></a>
                                        </div>
                                        <span>New</span>
                                        <a href="#" data-toggle="modal" data-target="#mymodal"><i class="fa fa-search"></i></a>
                                    </div>
                                    <div class="product-content-2">
                                        <span>Furniture Manufacturer</span>
                                        <h4><a href="#">Wooden Plate Model Balsa Wood DIY House...</a></h4>
                                        <div class="rating">
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </div>
                                        <p> Faded short sleeves t-shirt with high neckline. Soft and stretchy material for a comfortable fit....</p>
                                        <div class="price">
                                            <ul>
                                                <li class="new-price">$14.86</li>
                                                <li class="old-price">$16.51</li>
                                            </ul>
                                        </div>
                                        <div class="add-to-links-2">
                                            <ul>
                                                <li><a href="#" class="heart"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Add to cart</a></li>
                                                <li><a href="#" class="refresh"><i class="fa fa-refresh"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="color-list-container">
                                            <ul>
                                                <li class="pink"></li>
                                                <li class="orange"></li>
                                                <li class="blue"></li>
                                                <li class="yelllo"></li>
                                            </ul>
                                        </div>
                                        <div class="availability">
                                            <span> In stock</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-product-2 single-product-4 mb-30">
                                    <div class="product-image-total">
                                        <div class="product-image-2">
                                            <a href="#"><img ng-src="{{app.baseConfig.app}}/themes/pay/img/product/10.jpg" alt="char" /></a>
                                        </div>
                                        <span>New</span>
                                        <a href="#" data-toggle="modal" data-target="#mymodal"><i class="fa fa-search"></i></a>
                                    </div>
                                    <div class="product-content-2">
                                        <span>Furniture Manufacturer</span>
                                        <h4><a href="#">Wooden Plate Model Balsa Wood DIY House...</a></h4>
                                        <div class="rating">
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </div>
                                        <p> Faded short sleeves t-shirt with high neckline. Soft and stretchy material for a comfortable fit....</p>
                                        <div class="price">
                                            <ul>
                                                <li class="new-price">$14.86</li>
                                                <li class="old-price">$16.51</li>
                                            </ul>
                                        </div>
                                        <div class="add-to-links-2">
                                            <ul>
                                                <li><a href="#" class="heart"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Add to cart</a></li>
                                                <li><a href="#" class="refresh"><i class="fa fa-refresh"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="color-list-container">
                                            <ul>
                                                <li class="pink"></li>
                                                <li class="orange"></li>
                                                <li class="blue"></li>
                                                <li class="yelllo"></li>
                                            </ul>
                                        </div>
                                        <div class="availability">
                                            <span> In stock</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-product-2 single-product-4">
                                    <div class="product-image-total">
                                        <div class="product-image-2">
                                            <a href="#"><img ng-src="{{app.baseConfig.app}}/themes/pay/img/product/11.jpg" alt="char" /></a>
                                        </div>
                                        <span>New</span>
                                        <a href="#" data-toggle="modal" data-target="#mymodal"><i class="fa fa-search"></i></a>
                                    </div>
                                    <div class="product-content-2">
                                        <span>Furniture Manufacturer</span>
                                        <h4><a href="#">Wooden Plate Model Balsa Wood DIY House...</a></h4>
                                        <div class="rating">
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </div>
                                        <p> Faded short sleeves t-shirt with high neckline. Soft and stretchy material for a comfortable fit....</p>
                                        <div class="price">
                                            <ul>
                                                <li class="new-price">$14.86</li>
                                                <li class="old-price">$16.51</li>
                                            </ul>
                                        </div>
                                        <div class="add-to-links-2">
                                            <ul>
                                                <li><a href="#" class="heart"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Add to cart</a></li>
                                                <li><a href="#" class="refresh"><i class="fa fa-refresh"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="color-list-container">
                                            <ul>
                                                <li class="pink"></li>
                                                <li class="orange"></li>
                                                <li class="blue"></li>
                                                <li class="yelllo"></li>
                                            </ul>
                                        </div>
                                        <div class="availability">
                                            <span> In stock</span>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>
                        <!-- B pagination -->
                        <div class="pagination-area">
                            <div class="product-count">
                                <!-- <p>Showing 1 - 12 of 13 items</p> -->
                            </div>
                            <div class="pagination-number" paging
                                ul-class="a"
                               
                                show-prev-next="true"
                                page="pagination.current_page" 
                                page-size="pagination.limit" 
                                total="pagination.total"
                                paging-action="toPage(page)"
                                >
                               
                            </div>
                            <!-- <div class="pagination-number">
                                <ul>
                                    <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                </ul>
                            </div> -->
                        </div>
                        <!-- E pagination -->
                    </div>
                </div>
            </div>
        </div>
        <!-- featured-product-area-end -->
        
        
        <!-- banner-area-start -->
        <div class="banner-area ptb-80">
            <!-- <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="single-banner">
                            <a href="#"><img ng-src="{{app.baseConfig.app}}/themes/pay/img/banner/5.jpg" alt="banner" /></a>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <!-- banner-area-end -->
        
       
        <!-- blog-area-start -->
        <div class="blog-area hide">
            <div class="container">
                <div class="row">
                    <!-- <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12"> -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="smart-blog">
                            <div class="section-title mb-25">
                                <h2>From the <span>  blog</span></h2>
                                <a href="#">View all blogs</a>
                            </div>
                            <div class="row">
                                <div class="blog-active">
                                    <div class="col-lg-12">
                                        <div class="single-blog">
                                            <div class="blog-img">
                                                <a href="#"><img ng-src="{{app.baseConfig.app}}/themes/pay/img/blog/1.jpg" alt="blog" /></a>
                                            </div>
                                            <div class="blog-content text-center">
                                                <h4><a href="#">Answers to your Questions about...</a></h4>
                                                <div class="date-smart">
                                                    <span>Date : </span>
                                                    <span class="date_form">23</span>
                                                    <span class="month_form">/11</span>
                                                    <span class="year">/ 2016</span>
                                                </div>
                                                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has...</p>
                                                <a href="#">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="single-blog">
                                            <div class="blog-img">
                                                <a href="#"><img ng-src="{{app.baseConfig.app}}/themes/pay/img/blog/2.jpg" alt="blog" /></a>
                                            </div>
                                            <div class="blog-content text-center">
                                                <h4><a href="#">What is Bootstrap? – The History...</a></h4>
                                                <div class="date-smart">
                                                    <span>Date : </span>
                                                    <span class="date_form">23</span>
                                                    <span class="month_form">/11</span>
                                                    <span class="year">/ 2016</span>
                                                </div>
                                                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has...</p>
                                                <a href="#">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="single-blog">
                                            <div class="blog-img">
                                                <a href="#"><img ng-src="{{app.baseConfig.app}}/themes/pay/img/blog/3.jpg" alt="blog" /></a>
                                            </div>
                                            <div class="blog-content text-center">
                                                <h4><a href="#">From Now we are certified web...</a></h4>
                                                <div class="date-smart">
                                                    <span>Date : </span>
                                                    <span class="date_form">23</span>
                                                    <span class="month_form">/11</span>
                                                    <span class="year">/ 2016</span>
                                                </div>
                                                <p> Smartdatasoft is an offshore web development company located in Bangladesh. We are serving...</p>
                                                <a href="#">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="about-us">
                            <div class="section-title mb-25">
                                <h2><span>Our</span> store </h2>
                                <a href="#">View all store</a>
                            </div>
                            <div class="single-store">
                                <div class="store-img">
                                    <a href="#"><img ng-src="{{app.baseConfig.app}}/themes/pay/img/blog/4.jpg" alt="store" /></a>
                                </div>
                                <div class="store-content">
                                    <ul>
                                        <li><i class="fa fa-map-marker"></i><span>Add:</span> 3850 S Town Center Drive Summerlin, NV 89135.</li>
                                        <li><i class="fa fa-phone"></i><span>Tel:</span>  (800) 123 456 789</li>
                                        <li><i class="fa fa-envelope-o"></i><span>Email:</span>  demo@posthemes.com</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- blog-area-end -->
        <!-- static-info-area-start -->
        <!-- <div class="static-info-area mtb-80">
            <div class="container">
                <div class="row static-total">
                    <div class="col-lg-12">
                        <div class="static-info">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="single-static">
                                    <div class="static-img">
                                        <a href="#" class="first-img"><img ng-src="{{app.baseConfig.app}}/themes/pay/img/banner/13.png" alt="icon"/></a>
                                        <a href="#" class="second-img"><img ng-src="{{app.baseConfig.app}}/themes/pay/img/banner/14.png" alt="icon" /></a>
                                    </div>
                                    <div class="static-content">
                                        <h3>Free Shipping</h3>
                                        <p>Free shipping on all order</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="single-static">
                                    <div class="static-img">
                                        <a href="#" class="first-img"><img ng-src="{{app.baseConfig.app}}/themes/pay/img/banner/15.png" alt="icon"/></a>
                                        <a href="#" class="second-img"><img ng-src="{{app.baseConfig.app}}/themes/pay/img/banner/16.png" alt="icon" /></a>
                                    </div>
                                    <div class="static-content">
                                        <h3>24/7 Support</h3>
                                        <p>Support online 24 hours day</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="single-static">
                                    <div class="static-img">
                                        <a href="#" class="first-img"><img ng-src="{{app.baseConfig.app}}/themes/pay/img/banner/17.png" alt="icon"/></a>
                                        <a href="#" class="second-img"><img ng-src="{{app.baseConfig.app}}/themes/pay/img/banner/18.png" alt="icon" /></a>
                                    </div>
                                    <div class="static-content">
                                        <h3>Free return</h3>
                                        <p>30 days money back guarantee</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="single-static">
                                    <div class="static-img">
                                        <a href="#" class="first-img"><img ng-src="{{app.baseConfig.app}}/themes/pay/img/banner/19.png" alt="icon"/></a>
                                        <a href="#" class="second-img"><img ng-src="{{app.baseConfig.app}}/themes/pay/img/banner/20.png" alt="icon" /></a>
                                    </div>
                                    <div class="static-content">
                                        <h3>secure Payment</h3>
                                        <p>100% secure payment</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- static-info-area-end -->